<main>
  <mat-card>
    <form [formGroup]="creditCard" (submit)="submit()" class="form">
      <div class="form_content">
        <mat-form-field>
          <input
            name="name"
            matInput
            type="text"
            placeholder="Nome do titular"
            formControlName="name"
          />
          <mat-error
            *ngIf="
              this.creditCard.get('name')?.errors?.required &&
              this.creditCard.get('name')?.touched
            "
          >
            Campo Obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            name="number"
            mask="0000 0000 0000 0000"
            matInput
            type="tel"
            placeholder="Numero do cartão"
            formControlName="number"
          />
          <mat-error
            *ngIf="
              this.creditCard.get('number')?.errors &&
              this.creditCard.get('number')?.touched
            "
          >
            Campo Obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            name="name"
            matInput
            mask="0000"
            type="tel"
            placeholder="CVV"
            formControlName="security"
          />
          <mat-error
            *ngIf="
              this.creditCard.get('security')?.errors &&
              this.creditCard.get('security')?.touched
            "
          >
            Campo Obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            name="validate"
            matInput
            mask="00/00"
            type="tel"
            placeholder="MM/YY"
            formControlName="validate"
          />
          <mat-error
            *ngIf="
              this.creditCard.get('validate')?.errors &&
              this.creditCard.get('validate')?.touched
            "
          >
            Campo Obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <button
        [disabled]="creditCard.invalid"
        mat-flat-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </form>
  </mat-card>
</main>
